


/* ---------------  HTML --------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  body{
  font-family: 'Source Code Pro', monospace;
  background-color: black;
  }
  
  p{
    font-size: 0.4em;
    color: white;
  }
  
  
  
  /* ---------------  IDS --------------- */
  
  
  #bio{
    display: flex;
  }
  
  #homeContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #hi{
    font-family: Helvetica;
    font-size: 2.5em;
    color: tomato;
    align-self: flex-start;
    margin-bottom: 10px;
  }
  
  #here{
    color: yellow;
    font-size: 1.5em;
  
  }
  
  #description{
    font-size: 1em;
    color: white;
    align-self: center;
    text-align: left;
  }

  #profilePic {
    width: 650px;
    height: 450px;
    margin-top: 100px;
    padding: 20px;
    margin: 0 auto;
    }
  



  #email{
      font-size: 1.5em;
      color:tomato;
  }
  
  @media (max-width: 1200px){

    #profile{
        background-color: pink;
    }

    #profilePic {
        width: 450px;
        height: 300px;
        margin-top: 25px;
     
        }
      
    #hi{
        font-family: Helvetica;
        font-size: 2em;
        color: tomato;
        align-self: flex-start;
      }

      #description{
        font-size: 0.8em;
        color: white;
        align-self: center;
        text-align: left;
      }

  
  }