

/* ---------------  HTML --------------- */

strong{
    color: yellow;
}

a{
    color: pink;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 25px;
}
ul{
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

li{
    font-size: 2em;
    color: yellow;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

h1{
    color: white;
}

h2{
    font-size: 5em;
    text-decoration: underline;
    color: grey;
    padding-bottom: 20px;
}

h3{
    color: tomato;
}

p{
    font-size: 1.5em;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* iframe{
    display: none;
} */


/* ---------------  CLASSES --------------- */


.workHeading{
    color: white;
    font-size: 2.25em;
}

.workItem:hover{
    display: inline;
    background-color: white;
    color: black;
}





/* ---------------  IDS --------------- */


#masterContainer{
    /* display: flex; */
    /* height: 100vh; */
    /* width: 100vw; */
    /* background-color: pink; */
    /* align-items: center; */
}

#workContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

#secondColumn{
    /* width: 960px;
    height: 650px; */
    /* background-color: blue; */
    align-self: center;
    justify-content: center;

}

#goBack{
    /* background-color: white; */
    padding-bottom: 5px;
    color: tomato;
    display: inline;
}

#firstColumn{
    align-self: center;
    text-align: left;
    /* background-color: green; */
    /* padding-left: 50px; */
}

#workRow{
    width: 100%;
    /* height: 100%; */
    /* align-self: center; */
    /* background-color: blue; */
}

.workColumn{
    text-align: center;
    /* background-color: yellow; */
}

#visuals{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: blue; */
}

#web{
    align-self: flex-start;
    /* background-color: yellow; */
    text-align: left;
}

#web{
    text-align: left;
}

#install{
    text-align: right;
}

#picture{
    /* background-color: pink; */
}